.level-progress{
    width: 363px;
    padding: 12px 16px;
    border-radius: 24px;
    background-color: #fff;
}

.level-progress__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #3CC7FF;
}

.level-progress__solved{

}

.level-progress__complete{
    display: flex;
    gap: 8px;
    font-weight: bold;
}

.level-progress__status{
    position: relative;
    height: 16px;
    border-radius: 10px;
    background-color: #F2FDFF;
    margin-top: 10px;
    overflow: hidden;
}

.level-progress__bar{
    position: absolute;
    height: 100%;
    width: 10%;
    /* border-radius: 10px; */
    background: linear-gradient(180deg, #3CC7FF 0%, #4BDAFF 100%);
}
