.crib {
  width: 226px;
}

.crib__button {
  width: 100%;
  padding: 20px 38px;
  padding-left: 70px;
  background-color: #000;
  background-image: url("../../assets/icons/crib.png");
  background-size: 24px 24px;
  background-position: 40px center;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.crib__text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
} 