@font-face {
  font-family: 'Inter';
  src: url('Inter-Medium.woff2') format('woff2'),
      url('Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-SemiBold.woff2') format('woff2'),
      url('Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.woff2') format('woff2'),
      url('Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Bold.woff2') format('woff2'),
      url('Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Black.woff2') format('woff2'),
      url('Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Transforma Script_Trial Variable ExLight';
  src: url('TransformaScript_TrialVariableScript-ExtraLight.woff2') format('woff2'),
      url('TransformaScript_TrialVariableScript-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Transforma Script_Trial';
  src: url('TransformaScript_Trial-Light.woff2') format('woff2'),
      url('TransformaScript_Trial-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Transforma Script_Trial ExLight';
  src: url('TransformaScript_Trial-ExtraLight.woff2') format('woff2'),
      url('TransformaScript_Trial-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Transforma Script_Trial SmBold';
  src: url('TransformaScript_Trial-SemiBold.woff2') format('woff2'),
      url('TransformaScript_Trial-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Transforma Script_Trial';
  src: url('TransformaScript_Trial-Regular.woff2') format('woff2'),
      url('TransformaScript_Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Transforma Script_Trial';
  src: url('TransformaScript_Trial-Medium.woff2') format('woff2'),
      url('TransformaScript_Trial-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


