.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20px;
  left: -20px;
  background-color: #fff9;
}

.draft-popup {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  transition-duration: 300ms;
  transform: translateY(calc(100% + 26px));
}

.draft-popup--open {
  transform: translateY(0);
  z-index: 1000;
}

.draft-popup__wrapper {
  padding: 28px;
  display: flex;
  gap: 50px;
}

.draft-popup-close {
  width: 32px;
  height: 32px;
  background-image: url("../../assets/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}