.draft-popup .expression-number{
  width: 60px;
  height: 60px;
  font-family: 'Transforma Script_Trial';
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.draft-popup .expression-field{
  width: 60px;
  height: 60px;
  font-family: 'Transforma Script_Trial';
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
