.message-popup {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 244px;
  background-color: #fff;
}

.message-popup__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.message-popup__image {
  display: block;
  width: 80px;
}

.message-popup__message {
  position: relative;
  margin: 12px 8px 17px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  font-weight: 600;
  font-size: 21px;
  line-height: 122%;
  letter-spacing: 0.015em;

  color: #000000;
  background-color: #F0F0F9;
  border-radius: 16px;
}

.message-popup__message::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 24px;
  left: -12px;
  background-image: url("../../assets/icons/bubble-point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}