.step-progress{
    width: 363px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.step-progress__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #3CC7FF;
}

.step-progress__solved {
   
}

.step-progress__complete{
    display: flex;
    gap: 10px;
}

