.expression-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    gap: 10px;
}
.full-expression {
    height: 420px;
}
.expression-comma {
    padding-top: 28px;
    margin: -4px;
  }
.expression-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    text-align: center;
    background-color: #F7FDFF;
    border: 1px solid #3CC7FF;
    border-radius: 12px;
}

.expression-field::placeholder {
    font-size: 0px;
    font-family: 'Transforma Script_Trial';    
    line-height: 15px;
    font-weight: 500;
    color: #000;
}

.input-wrapper {
    position: relative;
}

.input-placeholder {
    display: none;
    width: 100%;
    font-size: 14px;
    font-family: 'Transforma Script_Trial';    
    line-height: 15px;
    font-weight: 500;
    color: #000;
}

.expression-field:placeholder-shown ~ .input-placeholder{
    display: block;
  }

.expression-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.64);
    border-radius: 12px;
}

.expression-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 36px;
    font-size: 32px;
    line-height: 36px;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slash {
    background-color: #000;
    height: 2px;
    width: calc(100% - 40px);
}

.expression-field:focus {
    outline: none;
}

.expression-field--correct {
    background: rgba(0, 198, 79, 0.04);
    border: 1px solid #00C64F;
}

.expression-field--incorrect {
    background: rgba(255, 0, 0, 0.4);
    border: 1px solid #FF4D20;
}

.expression-field__transparent {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

.expression-label-diagonal {
    transform: rotate(45deg);
    overflow: hidden;
    width: 27px;
    height: 27px;
    border-radius: 3px;
}

.expression-field-diagonal {
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
    background-color: transparent;
    border: none;
}

.expression-field-diagonal:focus {
    outline: none;
}

.brackets {
    display: flex;
}

.bracket {
    width: 12px;
    background-image: url("../../../assets/icons/bracket.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.bracket--close {
    transform: scaleX(-1);
    transform-origin: center;
}
.expression {
    display: flex;
}
.step-1 > .expression-wrapper > .expression-number {
    border: 1px solid #3CC7FF;
    background-color: #3CC7FF0A;
}
.step-1 > .hint-slot {
    padding-right: 88px;
}
.one > .expression-wrapper > .expression-number {
    background-color: rgba(0, 198, 79, 0.04);
    border:1px solid #00C64F;
}
.hey > .expression-wrapper > .expression-number {
    background: rgba(0, 198, 79, 0.04);
    border: 1px solid #00C64F;
}