.expression-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
}

.expression-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    text-align: center;
    background-color: #F7FDFF;
    border: 1px solid #3CC7FF;
    border-radius: 12px;
}

.expression-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.expression-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 36px;
    font-size: 32px;
    line-height: 36px;
}

.fraction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.slash {
    background-color: #000;
    height: 2px;
    width: 100%;
}

.expression-field:focus {
    outline: none;
}

.expression-field--correct {
    background: rgba(0, 198, 79, 0.04);
    border: 1px solid #00C64F;
}

.expression-field--incorrect {
    background: rgba(255, 0, 0, 0.4);
    border: 1px solid #FF4D20;
}

.expression-label-diagonal {
    transform: rotate(45deg);
    overflow: hidden;
    width: 27px;
    height: 27px;
    border-radius: 3px;
}

.expression-field-diagonal {
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    text-align: center;
    background-color: transparent;
    border: none;
}

.expression-field-diagonal:focus {
    outline: none;
}