header {
  padding: 8px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.header__wrapper {
  width: 100%;
}

.logo {
  width: 176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 43px;
  height: 48px;
  display: block;
}

.logo__text {
  width: 102px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}