*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f4f7f7;
  height: 100vh;
}

.app__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;
  padding-bottom: 36px;
}

.status-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.status-bar__path-wrapper {
  display: flex;
}

.level-path {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.level-path__item {
  margin: 0;
}

.status-bar__progress {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.progress__button {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
}

.progress__button--hint {
  width: 222px;
  padding: 25px;
  background: #000000;
  border-radius: 24px;
}

.progress__button--hint-active {
  background: #FFB84D;
}

.progress__button--hint span {
  padding-left: 27px;
  background-image: url('./assets/icons/bulb.png');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
}

.progress__button--next-level {
  width: 344px;
  border-radius: 24px;
  background: linear-gradient(180deg, #3CC7FF 0%, #4BDAFF 100%);
}

.progress__button--inactive {
  opacity: 0.5;
}

.game-field {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 16px;
  padding: 26px 44px;
}
