*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  border: 1px solid transparent;
  vertical-align: middle;
}