*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  min-width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #f4f7f7;
  height: 100vh;
}
