.draft-operation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 30px;
}
.draft-operation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 30px;
}

.draft-operation__argument {
  display: flex;
  gap: 10px;
}

.draft-operation__sign {
  height: 0;
  width: 100%;
  position: relative;
  top: -18px;
  left: -30px;
  margin: 5px 0;
}

.draft-operation__slash {
  margin: 10px 0;
}

.draft-divide-wrapper{
  display: flex;
}

.draft-divisor{
  align-items: flex-start;
  padding: 0;
}

.vertical-slash{
  width: 2px;
  background-color: #000;
  margin: 0px 5px;
}

.draft-summ {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 30px;
}

.draft-summ__argument {
  display: flex;
  gap: 10px;
}

.draft-summ__sign {
  height: 0;
  width: 100%;
  position: relative;
  top: -18px;
  left: -30px;
  margin: 5px 0;
}

.draft-summ__slash {
  margin: 10px 0;
}