.draft-summ {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 30px;
}

.draft-summ__argument {
  display: flex;
  gap: 10px;
}

.draft-summ__sign {
  height: 0;
  width: 100%;
  position: relative;
  top: -18px;
  left: -30px;
  margin: 5px 0;
}

.draft-summ__slash {
  margin: 10px 0;
}